<div th:fragment="banner">

	<div class="hero-banner d-flex align-items-center text-white text-center text-lg-start"
		style="background: url('/img/banner/rack-opacity.png') no-repeat; min-height: 25vh;">
		<div class="container py-5">
			<div class="row align-items-center ">
				<div class="col-lg-10 text-primary">
					<h1 class="display-3 fw-bold">Rack Systems</h1>
					<p class="lead mb-4 ">
						Innovative, modular, and durable racking solutions for industrial, commercial, and warehouse
						applications.
					</p>
					<div class="d-flex gap-3 justify-content-center justify-content-lg-start">
						<a href="#contact" class="btn btn-outline-primary btn-lg shadow">Get a Quote</a>
						<a href="#products" class="btn btn-primary btn-lg">View Products</a>
					</div>


				</div>
			</div>
		</div>
	</div>





</div>