<div th:fragment="header" class="bg-dark">

	<div id="menu">

		<!--Desktop View Port-->
		<div id='viewport-hidden-sm-fixedTop' class="d-none d-lg-block">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top py-2 background-black">
				<div class="container">
					<div>
						<div class="">
							<a class="navbar-brand" href="/">
								<img src="https://voge.s3.ap-southeast-1.amazonaws.com/images/app/header-logo-ph.png"
									alt="logo" />
							</a>
						</div>
					</div>
					<div>
						<div class="show navbar-collapse" id="navbarColor03">
							<ul class="navbar-nav me-auto">
								<li class="nav-item">
									<a class="nav-link active" href="/">HOME
										<span class="visually-hidden">(current)</span>
									</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										MODELS
									</a>
									<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="min-width: 6rem">
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/model/650DS"><small>650 DS</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/model/500DSX"><small>500 DSX</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/model/500R"><small>500 R</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/model/500AC"><small>500 AC</small></a>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link active dropdown-toggle" href="/#" id="navbarDropdown"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
										EVENTS
									</a>
									<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="min-width: 6rem">
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/events/boss-ironman"><small>Boss Ironman</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/events/enduro"><small>FJMoto Enduro</small></a>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link active dropdown-toggle" href="/#" id="navbarDropdown"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
										COMMUNITY
									</a>
									<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="min-width: 6rem">
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/community/voyagers"><small>Voyager Club</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/community/rides"><small>Fun Rides</small></a>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="/about-us">ABOUT US</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="/contact-us">CONTACT US</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<div style="height: 5.45rem" ;>

			</div>
		</div>

		<!--Mobile View Port-->
		<div id='viewport-shown-sm' class="d-lg-none">
			<nav class="navbar navbar-expand-md navbar-dark py-2 background-black">
				<div class="container">
					<div>
						<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false"
							aria-label="Toggle navigation">
							<img src="https://voge.s3.ap-southeast-1.amazonaws.com/images/app/header-logo-ph.png"
								alt="logo" />
						</button>
					</div>
					<div>
						<div class="show navbar-collapse" id="navbarColor03">
							<ul class="navbar-nav me-auto">
								<li class="nav-item">
									<a class="nav-link active" href="/">HOME
										<span class="visually-hidden">(current)</span>
									</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										MODELS
									</a>
									<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="min-width: 6rem">
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/model/650DS"><small>650 DS</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/model/500DSX"><small>500 DSX</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/model/500R"><small>500 R</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/model/500AC"><small>500 AC</small></a>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link active dropdown-toggle" href="/#" id="navbarDropdown"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
										EVENTS
									</a>
									<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="min-width: 6rem">
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/events/boss-ironman"><small>Boss Ironman</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/events/enduro"><small>FJMoto Enduro</small></a>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link active dropdown-toggle" href="/#" id="navbarDropdown"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
										COMMUNITY
									</a>
									<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="min-width: 6rem">
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/community/voyagers"><small>Voyager Club</small></a>
										<a class="dropdown-item nav-link text-center text-white background-gold-hover"
											href="/community/rides"><small>Run Rides</small></a>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="/about-us">ABOUT US</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="/contact-us">CONTACT US</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>

</div>