<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>

<body>

	<!--This is the header component-->
	<section id="header">
		<div th:insert="~{components/header :: header}" class=""></div>
	</section>


	<!--This is the Banner component-->
	<section id="banner">
		<div th:insert="~{components/banner :: banner}" class=""></div>
	</section>

	<!--This is the main component-->



	<section id="proposal" class="my-5 bg-light">
		<div class="container py-5">




			<h1 class="mb-4">Proposal Details</h1>

			<div class="card">
				<div class="card-body">
					<h3 th:text="'Proposal Number: ' + ${proposal.proposalNumber}"></h3>
					<p><strong>Customer:</strong> <span th:text="${proposal.customerName}"></span></p>
					<p><strong>Product:</strong> <span th:text="${proposal.product.name}"></span></p>
					<p><strong>Description:</strong> <span th:text="${proposal.product.description}"></span></p>
					<p><strong>Price:</strong> $<span th:text="${proposal.product.price}"></span></p>

					<a th:href="@{/proposals/download/{id}(id=${proposal.id})}" class="btn btn-primary mt-3">Download as
						PDF</a>
				</div>
			</div>


		</div>
	</section>






	<!--This is the Contact Us component-->
	<section id="contactus">
		<div th:insert="~{components/contactus :: contactus}" class=""></div>
	</section>

	<!--This is the footer component-->
	<section id="footer">
		<div th:insert="~{components/footer :: footer}" class=""></div>
	</section>

	<!--This is the script for bootstrap-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
		crossorigin="anonymous"></script>
</body>

</html>